{% extends "base.html" %}

{% load tailwind_filters %}

{% block content %}
<div class="h-dvh">
    <div class="grid grid-cols-2">
        <div class="h-dvh flex items-center justify-center"
            style="background-image: url('https://images.unsplash.com/photo-1501339847302-ac426a4a7cbb?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8Y29mZmVlJTIwcGxhY2V8ZW58MHx8MHx8fDA%3D'); 
            background-size: cover;
            background-position: right;
            background-repeat: no-repeat;">
        </div>
        <div class="h-screen flex items-center justify-center">
            <form action="" method="post" class="w-90 max-w-sm rounded overflow-hidden shadow-lg p-6">
                <h1 class="font-bold text-xl mb-2 text-center">Login</h1>
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                    Login
                </button>
                <p class="text-center text-sm text-gray-500 mt-4">
                    No tienes una cuenta
                    <a class="underline" href="{% url "register" %}">Registrate</a>
                </p>
            </form>
        </div>
    </div>

</div>

{% endblock content %}